.container {
  display: flex;
  flex-wrap: wrap;
}

.item { 
  width: 25%; /* For 4 tiles per row */
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 3;
  }

.header {
  display: flex;
  background: rgb(25, 105, 68);
  color: white;
  border-radius: 3px;
  padding: 1em;
  font-family: sans-serif;
}

a {
  margin-right: 1em;
}