<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
<section class="container">
{% for product in products %}
  <article class="item">
          <img src="https://digiall.mx/web/image/product.template/1992/image_256/%5B94924%5D%20101-502-385%20Cable%20Doble%20de%20Corriente%20SATA%20-%20Compatible%20con%20DVR%27s%20epcom%20-%20HIKVISION?unique=011b543">
          <div>
            <h1> {{ product.name }} </h1>
            <h6>{{ product.price }}</h6>
          </div>

  </article>
  {% endfor %}
</section>
{% endblock content %}
